header {
    background-color: #e1e4e9;

    height: 60px;
    padding-top: 10px;
    padding-bottom: 13px;
}

header aside {
	float: right;
	margin-right: 20px;
}

#scrolling-box {
    height:10em;
    overflow-y: scroll;
}
