{% extends 'social/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <p><a href="{% url 'homepage' %}">Menu</a></p>

    <h1>Bienvenu sur le profil de {{profil.user.username}}</h1>
    <h2>Informations sur le profil</h2>
    <p>Prénom: {{profil.user.first_name}}</p>
    <p>Nom: {{profil.user.last_name}}</p>
    <p>email: {{profil.user.email}}</p>
    
    <p>Liste des différents post du mur:</p>
        {% for post in posts %}
            <h2> {{ post.title }}</h2>
            <div id="scrolling-box" >
            {% for comment in comments %}
                {% if comment.post == post %}
                    <p style='font-size: 0.72em'><strong>{{comment.pseudo}} : </strong>{{comment.content}}</p>
                {% endif %}
            {% endfor %}
                <hr class="mt-0 mb-4"/>
            </div>
            <form method="post" action="{% url 'getcomment' profil.id post.id %}" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <p style="text-align:center">
                <button type="submit" class="btn btn-success">Commenter</button>
                </p>
           </form>

    {% empty %}
        <li>Il n'y a pas de post actuellement.</li>
    {% endfor %}
    
{% endblock %}